/*------------------------------------------------------------
  メインビジュアル
------------------------------------------------------------*/
#mainVisual {
	background: url(/mechanic/lp/s/aj00006/img/bg_mv.jpg) no-repeat center;
	background-size: cover;
}

#mainVisual .catch {
	text-align: center;
}

#mainVisual .anchBn {
	display: block;
	width: 73%;
	max-width: 475px;
	margin: -15px auto 0;
	padding-bottom: 20px;
}

/*------------------------------------------------------------
  コンテンツ
------------------------------------------------------------*/
#container {
	background: none;
}

#header {
	background-color: #004f9d;
}

#header .logo {
	text-align: center;
}

#main {
	padding-bottom: 0;
}

#conts .targetWrapper {
	background-size: 80px 46px;
}

#conts .target {
	box-sizing: border-box;
	padding: 20px 20px 10px;
	background: #004f9d;
}

#conts .target .targetHead {
	text-align: center;
}

#conts .targetInner {
	margin-top: 15px;
}

#conts .targetBlock {
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	box-sizing: border-box;
	margin-bottom: 10px;
	text-align: center;
	background: #fff;
}

#conts .targetTtl {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 58px;
	min-width: 58px;
	letter-spacing: 0.3em;
	color: #fff;
	background: #111;
}

#conts .targetTxtBlock {
	font-size: 1.4rem;
	display: flex;
	box-sizing: border-box;
	padding: 12px 5px 10px 15px;
}

#conts .targetTxtBlock .targetTxt li {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 23px;
	text-align: left;
}

#conts .targetTxtBlock .targetTxt li:not(:last-child) {
	margin-bottom: 2px;
}

#conts .targetTxtBlock .targetTxt li:before {
	position: absolute;
	left: 0;
	width: 13px;
	height: 13px;
	content: "";
	background: url("/mechanic/lp/s/aj00006/img/icon01.png") no-repeat center center;
	background-size: 13px 13px;
}

#conts .targetTxtBlock .targetTxt li span {
	font-size: 0.9rem;
	margin-left: 10px;
}

#conts .target .attention {
	font-size: 1.2rem;
	margin-top: 10px;
	color: #fff;
}

#conts .target .attention dt {
	font-weight: bold;
	width: 100%;
	margin-bottom: 7px;
}

#conts .target .attention dt span {
	display: block;
	padding: 2px 0;
	text-align: center;
	background: #ff4310;
}

#conts .section01 {
	padding: 35px 0 26px;
	text-align: center;
	background: url("/mechanic/lp/s/aj00006/img/bg03.jpg") no-repeat center;
	background-size: cover;
}

#conts .section01 .logo {
	margin-bottom: 18px;
}

#conts .section01 .section01Ttl {
	margin-bottom: 12px;
}

#conts .section01 .section01Txt {
	font-size: 1.3rem;
	width: 200px;
	margin: auto;
}

#conts .section01 .logo svg {
	height: 50px;
}

#conts .section02 {
	margin-bottom: 20px;
	padding: 17px 0 40px;
	text-align: center;
	background: url("/mechanic/lp/s/aj00006/img/bg04.png") no-repeat bottom;
	background-size: cover;
}

#conts .section02 .section02Ttl {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 2px;
	color: #cc871e;
}

#conts .section02 .section02Txt {
	font-size: 1.4rem;
	margin: auto;
}

#formBox {
	padding: 0;
	border: none;
	border-radius: 0;
}

#formBox .formHdg01 {
	justify-content: space-around;
	margin-bottom: 30px;
	padding-bottom: 0;
	border-bottom: none;
}

#formBox .table01 {
	background: #fff;
}

#formBox .table01 th {
	width: 230px;
}

#conts .formBox .formTtl01 {
	margin-bottom: 0;
	padding: 16px 0;
	border-bottom: none;
	background: #004f9d;
}
