/*------------------------------------------------------------
	メインビジュアル
------------------------------------------------------------*/
#mainVisual {
	height: 420px;
	background: url(/mechanic/lp/p/aj00006/img/bg_mv.jpg) no-repeat bottom;
}

#mainVisual .catch {
	text-align: center;
}

#mainVisual .catch > img {
	margin-top: -15px;
}

#mainVisual .anchBn {
	display: block;
	width: 514px;
	margin: -17px auto 0;
	transition: 0.5s opacity;
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#container {
	background: none;
}

#header {
	height: 60px;
	background-color: #004f9d;
}

#header .inner {
	height: 60px;
	padding-top: 15px;
}

#main {
	padding-bottom: 0;
}

#conts {
	padding-bottom: 10px;
}

#conts .targetWrapper {
	box-sizing: border-box;
	padding: 31px;
	background: #004f9d;
}

#conts .target {
	width: 730px;
	margin: auto;
}

#conts .target .targetHead {
	text-align: center;
}

#conts .targetInner {
	margin-top: 25px;
}

#conts .targetBlock {
	font-size: 2.2rem;
	font-weight: bold;
	display: flex;
	box-sizing: border-box;
	width: 730px;
	margin: auto;
	text-align: center;
	background: #fff;
	box-shadow: 1.414px 1.414px 10px 0 rgba(51, 51, 51, 0.5);
}

#conts .targetBlock:not(:last-child) {
	margin-bottom: 10px;
}

#conts .targetTtl {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	letter-spacing: 0.3em;
	color: #fff;
	background: #111;
}

#conts .targetTxtBlock {
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	height: 60px;
	padding: 15px 20px 13px;
}

#conts .targetTxtBlock .targetTxt {
	display: flex;
}

#conts .targetTxtBlock .targetTxt li {
	position: relative;
	padding-left: 30px;
}

#conts .targetTxtBlock .targetTxt li:not(:first-child) {
	margin-left: 23px;
}

#conts .targetTxtBlock .targetTxt li:before {
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	content: "";
	background: url("/mechanic/lp/p/aj00006/img/icon01.png") no-repeat;
	background-size: 20px 20px;
}

#conts .targetTxtBlock > p {
	font-size: 1.2rem;
	margin-left: 20px;
}

#conts .target .attention {
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	margin-top: 20px;
	color: #fff;
}

#conts .target .attention dt {
	font-weight: bold;
	margin-right: 20px;
}

#conts .target .attention dt span {
	display: block;
	width: 90px;
	padding: 4px 0;
	text-align: center;
	background: #ff4310;
}

#conts .section01 {
	height: 230px;
	padding: 50px 0 40px;
	text-align: center;
	background: url("/mechanic/lp/p/aj00006/img/bg03.jpg") no-repeat center;
}

#conts .section01 .logo {
	margin-bottom: 25px;
}

#conts .section01 .section01Ttl {
	margin-bottom: 15px;
}

#conts .section01 .section01Txt {
	font-size: 1.6rem;
}

#conts .section01 .logo svg {
	width: 400px;
	height: 80px;
}

#conts .section02 {
	height: 247px;
	padding: 45px 0;
	text-align: center;
	background: url("/mechanic/lp/p/aj00006/img/bg04.png") no-repeat center;
}

#conts .section02 .section02Ttl {
	font-size: 3.2rem;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 5px;
	color: #ff4310;
}

#conts .section02 .section02Txt {
	font-size: 2rem;
}

#formBox {
	padding: 0;
	border: none;
	border-radius: 0;
}

#formBox .formHdg01 {
	margin-bottom: 30px;
	padding-bottom: 0;
	border-bottom: none;
}

#formBox .table01 {
	background: #fff;
}

#formBox .table01 th {
	width: 230px;
}