@charset "UTF-8";
/*------------------------------------------------------------
	メインビジュアル
	------------------------------------------------------------*/
main {
	background: #eff3f5;
}

.mainHdg {
	padding: 10px;
	background: #004f9d;
}

#mainVisual {
	margin-bottom: 53px;
	padding: 15px 5px 0;
	background: url(/mechanic/lp/s/aj00004/img/mv_bg.jpg) no-repeat right top;
	background-size: 100%;
	position: relative;
	z-index: 1;
}

#mainVisual .mainImg img {
	width: 65.5%;
}

#mainVisual .offerHdg {
	margin-top: 3px;
	position: relative;
	z-index: 1;
	color: #cc891e;
	font-size: 1.1rem;
	text-align: center;
}

#mainVisual .offerHdg::before,
#mainVisual .offerHdg::after {
	margin: auto 0;
	width: calc((100% - 190px) / 2);
	height: 1px;
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	content: "";
	box-shadow: 0 0 5px white,
				0 0 5px white,
				0 0 5px white;
}

#mainVisual .offerHdg::before {
	background: linear-gradient(to left, rgba(0, 79, 157, 1), rgba(163, 176, 185, 1));
	left: 10px;
}

#mainVisual .offerHdg::after {
	background: linear-gradient(to right, rgba(0, 79, 157, 1), rgba(163, 176, 185, 1));
	right: 10px;
}

#mainVisual .jobOffer {
	padding: 0 5px 15px;
	display: flex;
	position: relative;

	flex-wrap: wrap;
	justify-content: space-between;
}

#mainVisual .jobOffer:after {
	margin: auto;
	width: 22px;
	height: 29px;
	background: url(/mechanic/lp/s/img/icon01.png) no-repeat;
	background-size: 22px 29px;
	position: absolute;
	right: 0;
	bottom: -29px;
	left: 0;
	content: "";
}

#mainVisual .jobOffer .job {
	margin-bottom: 5px;
	width: calc((100% - 10px) / 2);
	border: 1px solid #111;
	font-weight: bold;
	text-align: center;
}

#mainVisual .jobOffer .job .inner {
	padding: 11px 10px 12px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: left 20px center;
}

#mainVisual .jobOffer .job .age {
	padding: 1px;
	background-color: #111;
	color: #fff;
	font-size: 1.3rem;
	font-weight: bold;

	align-items: center;
	justify-content: center;
}

#mainVisual .jobOffer .job .salary {
	font-size: 1.5rem;
	line-height: 1;
}

#mainVisual .jobOffer .job .salary .num {
	color: #8c0000;
	font-size: 2.5rem;
}

#mainVisual .jobOffer .job .benefit {
	margin-bottom: 4px;
	display: inline-block;
	text-align: left;
}

#mainVisual .jobOffer .job .benefit li {
	padding-left: 8px;
	position: relative;
	font-size: 1rem;
	line-height: 1.3;
}

#mainVisual .jobOffer .job .benefit li:before {
	width: 3px;
	height: 3px;
	background: #111;
	position: absolute;
	top: 6px;
	left: 0;
	content: "";
}

#mainVisual .jobOffer .job .dealer {
	padding: 3px 0;
	margin: auto;
	width: 90%;
	background: #004f9d;
	border-radius: 15px;
	display: block;
	color: #fff;
	font-size: 1rem;
	line-height: 1;
}

#mainVisual .jobOffer .etc {
	width: calc((100% - 5px) / 2);
	font-size: 1.8rem;
	text-align: center;
	text-shadow: 0 1px 1px #fff;

	align-self: center;
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#conts .section01 {
	max-width: 414px;
	margin: auto;
}

#conts .section01 .hdg02 {
	margin-bottom: 20px;
	padding-bottom: 15px;
	position: relative;
	font-size: 1.7rem;
	line-height: 1.4;
	text-align: center;
}

#conts .section01 .hdg02:after {
	margin: 0 auto;
	width: 29px;
	height: 5px;
	background: url(/mechanic/lp/s/img/hdg02_icon.png) no-repeat center;
	-webkit-background-size: 29px 5px;
	     -o-background-size: 29px 5px;
	        background-size: 29px 5px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

#conts .section01 .hdg02 .lead {
	display: block;
	color: #df0000;
	font-size: 1.4rem;
}

#conts .section01 .hdg02 .companyName {
	color: #004f9d;
	font-size: 1.9rem;
	font-style: italic;
}

#conts .formBox .formTtl01 {
	padding: 16px 0;
	margin-bottom: 0;
	background: #004f9d;
	border-bottom: none;
}

#conts .flowBox {
	margin: 0 10px 7px;
	padding: 3px;
	background-color: #ededed;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	position: relative;
}

#conts .flowBox:last-of-type {
	margin-bottom: 45px;
}

#conts .flowBox:last-of-type::after {
	margin: 0 auto;
	width: 110px;
	height: 21px;
	background: url(/mechanic/lp/s/img/flow_arrow01.png);
	background-size: 110px 21px;
	position: absolute;
	right: 0;
	bottom: -22px;
	left: 0;
	content: "";
}

#conts .flowBox .inner {
	padding: 16px 10px 12px;
	background-color: #fff;
	position: relative;
}

#conts .flowBox .hdg {
	margin: 0 0 10px;
	padding-bottom: 3px;
	border-bottom: 1px solid #222;
	font-size: 1.5rem;
	font-weight: bold;
}

#conts .flowBox .hdg .num {
	margin-right: 5px;
	color: #004f9d;
}

#conts .flowBox .lead {
	font-size: 1.2rem;
	line-height: 1.4;
}

#conts .flowBox .lead span {
	color: #df0000;
	font-weight: bold;
}

#conts .flowBox .imgBox {
	display: flex;
}

#conts .flowBox .imgBox img {
	margin-left: 15px;
	width: 95px;
	height: 100%;
}

#conts .catch {
	color: #df0000;
	font-size: 2.1rem;
	font-weight: bold;
	text-align: center;
}

#conts .catch .small {
	display: block;
	color: #111;
	font-size: 1.1rem;
	font-weight: normal;
}

#conts #formCv {
	padding: 30px 0 55px;
	background: linear-gradient(#eff3f5 0%,#fff 100%);
	display: flex;
	position: relative;

	justify-content: center;
	align-items: center;
}

#conts #formCv:after {
	margin: 0 auto;
	padding-top: 8%;
	background: url(/mechanic/lp/s/img/formcv_arrow01.png) no-repeat center;
	background-size: contain;
	position: absolute;
	right: 0;
	bottom: 25px;
	left: 0;
	content: "";
}

#conts #formCv .txtBox {
	margin-left: 15px;
	font-size: 1.5rem;
	font-weight: bold;
}

#conts #formCv .txtBox .hdg {
	display: block;
	color: #004a94;
	font-size: 2rem;
	line-height: 1;
	font-weight: bold;
	font-style: normal;
}

#conts #formCv .balloon img {
	width: 72px;
	height: 64px;
}