@charset 'UTF-8';
/*------------------------------------------------------------
  デフォルトスタイル
------------------------------------------------------------*/
html, body, div, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
address,
del, img, ins,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td , fieldset, iframe {
  border: 0;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-family: 'HiraKakuProN-W3';
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/*------------------------------------------------------------
  レイアウト
  ------------------------------------------------------------*/
body {
  line-height: 1.5;
  width: 100%;
  min-width: 320px;
  text-align: center;
  color: #111;
  -webkit-text-size-adjust: 100%;
}

#container {
  text-align: left;
}

#main {
  font-size: 140%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#main:after {
  display: block;
  clear: both;
  content: '';
}

.def {
  display: none;
}

/*------------------------------------------------------------
  ヘッダー
  ------------------------------------------------------------*/
#header {
  background: #FFF;
}

#header .logo {
  padding: 9px 7px 6px;
}

/*------------------------------------------------------------
  フォーム
------------------------------------------------------------*/
/* フォームデフォルトスタイル */
/*#form {
  font-size: 1.0rem;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}*/

#conts .formBox {
  background: #FFF;
}

/* お問い合わせフォーム */
#conts .formBox .formTtl01 {
  margin-bottom: 3px;
  padding: 18px 00;
  background: #CC891E;
  border-bottom: 1px solid #A36E18;
  box-shadow: 0 2px 3px 0 #B4B4B4;
  text-align: center;
}

#conts .formBox .formTtl01 p {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #47300A;
}

#conts .formBox .please {
  margin-bottom: 5px;
  padding: 20px 15px 20px 10px;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
  border-bottom: 1px solid #CCC;
}

#conts .formBox dl {
  font-size: 1.0rem;
  margin: 0;
}

.formBox dl dt span {
  color: inherit;
  font-size: 1.0em;
  font-weight: inherit;
  line-height: 1.5;
  background: none;
  padding: 0;
  border-radius: 0;
  margin: 0;
}

/* エラー */

#conts .errorText {
  color: #FF0000;
  font-size: 14px;

  padding: 15px 10px;
  border-bottom: 1px solid #CCC;
}

/*サンクス*/

#entry-thanks #header {
  border-bottom: 1px solid #ddd;
}

#entry-thanks p {
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 1.4;
}

#entry-thanks p.lead {
  padding: 0 16px;
}

#entry-thanks .ttl03 {
  margin-bottom: 10px;
  color: #004f9d;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
}

#entry-thanks .thanksBox {
  margin: 20px 0;
}

#entry-thanks .thanksBox .txt{
  text-align: center;
}

#entry-thanks .thanksTxt {
  text-align: center;
}

#entry-thanks .flowBox {
  margin: 30px 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid #004f9d;
}

#entry-thanks .flowBox .ttl {
  margin-bottom: 10px;
  color: #004f9d;
  font-weight: bold;
}

#entry-thanks .flowBox p {
  margin-bottom: 0;
}

#entry-thanks .comBox1 {
  border-top: 1px solid #004f9d;
  padding: 10px;
}

#entry-thanks .comBox1 .ttl {
  color: #004F9D;
}

#entry-thanks .contactBox {
  margin: 10px 10px 0;
  padding: 10px 0;
  border: 1px solid #ccc;
}

#entry-thanks .contactBox .name {
  margin-bottom: 15px;
  text-align: center;
}

#entry-thanks .contactBox .mail,
#entry-thanks .contactBox .tel {
  display: flex;
}

#entry-thanks .contactBox .mail p,
#entry-thanks .contactBox .tel p {
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: bold;
}

#entry-thanks .contactBox .mail a {
  text-decoration: none;
  color: #111;
}

#entry-thanks .contactBox .tel span {
  font-size: 1.2rem;
  font-weight: normal;
}

#entry-thanks .contactBox .inner {
  margin: auto;
  width: 240px;
}

#entry-thanks .copyright {
  margin-bottom: 0;
}


#main . {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


/*------------------------------------------------------------
  フッター
------------------------------------------------------------*/
#footer {
  margin-top: 15px;
  padding: 12px 0;
  border-top: 1px solid #111;
  position: relative;
}

#footer p {
 font-size: 1.0em;
 text-align: center;
}

#footer .copyright {
  font-style: normal;
  display: block;
}

#footer .pMark {
  position: absolute;
  margin-top: -19px;
  top: 50%;
  right: 10px;
  width: 39px;
}

#footer .pMark img {
  width: 39px;
  height: 40px;
}

/*------------------------------------------------------------
  clearfix（float解除）
  ------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}